body {
    margin: 4rem auto;
    font-family: sans-serif;
    color: #000000;
    max-width: 768px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    body {
        margin: 4rem 20px;
    }
}

img {
    width: 100%;
    height: auto;
}