<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{{ page.description }}">
    <title>Logan Keenan - {{ page.title }}</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<nav class="main-nav">
    <a href="/">Home</a>
    <a target="_blank" href="https://cultivatedsoftware.com">Hire Me</a>
    <a href="/talks">Talks</a>
</nav>
{% block content %} {% endblock %}
</body>
</html>
