<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="My personal website with various posts about software development and other random things.">
    <title>Logan Keenan</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="main-nav">
    <a href="/">Home</a>
    <a href="/public">Public</a>
    <a href="/talks">Talks</a>
</nav>
<h1>Logan Keenan</h1>

{% set posts = get_section(path="posts/_index.md") %}
<ul>
    {% for page in posts.pages %}
    <li>
        <a href="{{page.path}}">{{page.title}}</a>

    </li>

    {% endfor %}
</ul>
</body>
</html>