<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Active Storage Integration Tests with Rails 6 for create and edit including removing the attachment">
    <link rel="stylesheet" href="../styles-v1.css"/>
    <title>Logan Keenan - Active Storage Integration Tests with Rails 6</title>
    <link rel="stylesheet" href="../styles/highlight-js-a11y-dark.css">
    <script src="../scripts/highlight-ruby-erb.pack.js"></script>
</head>
<body>
<nav>
    <a href="/">Home</a>
</nav>
<section>
    <h1>
        Active Storage Integration Tests with Rails 6
    </h1>
    <time datetime="2019-10-17">
        October 17, 2019
    </time>
    <p>This article will cover creating integration tests using Rails 6 Active Storage. It will cover create and edit
        where we will remove the attached file.
        <section>
            <h2>Defining the Model and adding a Profile Picture</h2>
    <p>
        Scaffold out the model.
    </p>
    <pre>
            <code>
    rails g scaffold Profile name:string
            </code>
        </pre>
    <p>
        Update the model/profile.rb to include a profile picture.
    </p>
    <pre>
            <code class="ruby">
    class Profile < ApplicationRecord
        has_one_attached :profile_picture
    end
            </code>
        </pre>

    <p>Update the views/profiles/_form.html.erb to include a input for the profile picture. </p>
    <pre>
            <code class="erb">
    &lt;div class=&quot;field&quot;&gt;
        <%= form.label :profile_picture %>
        <%= form.file_field :profile_picture %>
    &lt;/div&gt;
            </code>
        </pre>
    <p>
        Update the controllers/profile_controller.rb to allow for the profile_picture params.
    </p>
    <pre>
            <code class="ruby">
    def profile_params
        params.require(:profile).permit(:name, :profile_picture)
    end
            </code>
        </pre>
</section>
<section>
    <h2>Setting up Integration Tests</h2>
    <p>
        Add the integration test settings to test_helper.rb.
    </p>
    <pre>
        <code class="ruby">
    require 'capybara/rails'
    require 'capybara/minitest'

    class ActionDispatch::IntegrationTest
        # Make the Capybara DSL available in all integration tests
        include Capybara::DSL
        # Make `assert_*` methods behave like Minitest assertions
        include Capybara::Minitest::Assertions


        def setup
            Capybara.default_driver = :selenium_chrome_headless
            Capybara.default_max_wait_time = 5
        end

        # Reset sessions and driver between tests
        # Use super wherever this method is redefined in your individual test classes
        def teardown
            Capybara.reset_sessions!
            Capybara.use_default_driver
            Capybara.default_max_wait_time = 2
        end
    end
        </code>
        </pre>
</section>
<section>
    <h2>
        Create Profile Integration Test
    </h2>
    <p>Create a file called test/integration/profile_integration_test.rb and add the first test to create a profile.
        Remember to add a picture called picture_one.jpg to the test directory.</p>
    <pre>
            <code class="ruby">
    # frozen_string_literal: true
    require 'test_helper'

    class ProfileIntegrationTest < ActionDispatch::IntegrationTest
        test 'that a profile can be created' do
            visit new_profile_path

            fill_in "Name", with: 'Jane Doe'

            find(:css, '#profile_profile_picture').set(File.join(Rails.root + "test", 'picture_one.jpg'))

            click_button 'Create Profile'

            assert_current_path profile_path(Profile.order("created_at").last)

            assert_equal ActiveStorage::Attachment.count, 1
        end
    end
        </code>
        </pre>
</section>
<section>
    <h2>Remove an Existing Profile Picture</h2>
    <p>
        Add a fixture to test/fixtures/profile.yml to represent the profile.
    </p>
    <pre>
            <code class="ruby">
    remove_existing_profile_picture:
        name: 'Jane Doe'
            </code>
        </pre>
    <p>
        We need to add an attribute to the model which we can use to determine if the profile picture should be
        removed or not.
    </p>
    <pre>
            <code class="ruby">
    class Profile < ApplicationRecord
        has_one_attached :profile_picture


        attr_accessor :remove_existing_profile_picture
    end
            </code>
        </pre>
    <p>Update the controller to allow for the new parameter.</p>
    <pre>
            <code class="ruby">
    def profile_params
        params.require(:profile).permit(:name, :profile_picture, :remove_existing_profile_picture)
    end
            </code>
        </pre>
    <p>Update the form to show the remove profile picture checkbox, but only if a picture is attached.</p>
    <pre>
            <code class="erb">
    <% if profile.profile_picture.attached? %>
        <%= form.label :remove_existing_profile_picture %>
        <%= form.check_box :remove_existing_profile_picture %>
    <% end %>
            </code>
        </pre>
    <p>
        Update the controller to check for the remove_existing_profile_picture and remove the profile picture.
    </p>
    <pre>
            <code class="ruby">
    def update
        if profile_params[:remove_existing_profile_picture] == "1"
          @profile_picture = @profile.profile_picture
          @profile_picture.purge_later
        end

        ...
    end
            </code>
        </pre>
    <p>Add the integration test to remove the profile picture.</p>
    <pre>
            <code class="ruby">
    test 'that a profile picture can be removed ' do
        profile = profiles(:remove_existing_profile_picture)
        profile.profile_picture.attach(io: File.open(File.join(Rails.root + "test", 'picture_one.jpg')), filename: 'picture_one.JPG', content_type: 'image/jpeg')
        profile.save!

        visit edit_profile_path(profile)

        find(:css, "#profile_remove_existing_profile_picture").set(true)

        click_button 'Update Profile'

        assert_equal ActiveStorage::Attachment.count, 0
    end
            </code>
        </pre>
</section>
<a target="_blank" href="https://github.com/logankeenan/active-storage-integration-tests">Source Code</a>
</body>
<script>hljs.initHighlightingOnLoad();</script>
</html>